@media (min-width: 1024px){
    body{
        grid-template: auto 1fr auto / auto 1fr;
    }
    main{
        max-width: 2000px;
        grid-column: 1/4;
    }
    nav{
        margin: 0;
        grid-column: 1/4;
    }
    nav a:hover{
        background-color: var(--accent-color-3);
        color: #000;
    }
    .navigation{
        list-style: none;
        display: flex;
        background: var(--accent-color-1);
        align-items: center;
    }
    .navigation li{
        flex: 1 1 auto;
    }
    .navigation a{
        display: block;
        color:  var(--primary-color);
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
    }
    .topnav .navigation{
        display: flex;
    }
    button{
        display: none;
    }
    div{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        align-content: center;
    }

}